{%load static %}

<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <title>Jay Mata DEE Lubricants</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--fontawesome css-->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!--bootstrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" > 
    <!--animate css-->
    <link rel="stylesheet"   href=" {% static  'css/animate-wow.css' %}"  >
    <!--main css-->
    <link rel="stylesheet" href=" {% static  'css/style.css' %}  ">
    <link rel="stylesheet" href=" {% static  'css/bootstrap-select.min.css' %}" >
    <link rel="stylesheet" href=" {% static  'css/slick.min.css' %}" >
    <!--responsive css-->
    <link rel="stylesheet" href=" {% static  'css/responsive.css' %}" > 
    </head>  
     
    <title>Responsive Ecommerce Product Cards In HTML/CSS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>  
    <header id="header" class="top-head">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
           <div class="container-fluid">
              <div class="row">
                 <div class="col-md-4 col-sm-12 left-rs">
                    <div class="navbar-header">
                       <button type="button" id="top-menu" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"> 
                       <span class="sr-only">Toggle navigation</span> 
                       <span class="icon-bar"></span> 
                       <span class="icon-bar"></span> 
                       <span class="icon-bar"></span> 
                       </button>
                    </div>
                    <form class="navbar-form navbar-left web-sh">
                       <div class="form">
                          <input type="text" class="form-control" placeholder="Search for products or companies">
                       </div>
                    </form>
                 </div>
                       <div class="help-r hidden-xs">
                          <div class="help-box">
                             <ul>
                                
                          </div>
                       </div>
                       <div class="nav-b hidden-xs">
                          <div class="nav-box">
                             <ul> 
                                <i class="fas fa-shopping-cart"></i>
                                <li><a href="howitworks.html">View Price List</a></li>
                                <li><a href="about-us.html">Contact US !</a></li>
                             </ul>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!--/.container-fluid --> 
        </nav>
    <div class="gallery"> 
    {% for product in products %}  
      <div class="content">
        <img src="{{ product.image.url }}">
        <h3>{{product.name}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <h6> {{product.price}} </h6>
        <ul>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
      </div>
    {% endfor %}
    </div>
  </body>
</html> 